<div class="main-container">
    <div class="block">
        <div class="inside-container">
            <div id="logo"></div>
            <input id="email" placeholder="Введите email"></input>
            <input id="passwd" placeholder="Введите пароль"></input>
            <button id="submit-button">Войти!</button>
            <button id="gray-button">Регистрация</button>
            <button id="gray-button">Забыли пароль?</button>
            <div class="line"></div>
            <button id="service-button"> <div id="LoginGoogleLogo"></div> </button>
            <button id="service-button"> <div id="LoginYandexLogo"></div> </button>
        </div>
    </div>
</div>